<a href="https://colab.research.google.com/github/RedCanister/Just-Code/blob/main/Explora%C3%A7%C3%A3o%20de%20Pre%C3%A7os%20ORACLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Explora√ß√£o dos pre√ßos das licen√ßas da Oracle
Ol√°, sejam todos bem-vindxs, sou Jorge Kayod√™, estudante de Sistemas para Internet no 4¬∫ semestre, e estou trazendo para voc√™s um trabalho que fiz tratando e visualizando os dados de uma tabela de pre√ßos com todas as licen√ßas da Oracle, com os pre√ßos atualizados pela √∫ltima vez em Setembro de 2021, ent√£o, bem atualizados. Espero que esse notebook possa te ajudar quando tiver que realizar procedimentos enquanto estuda Ci√™ncia de Dados, a √°rea que em que eu quero formar uma carreira.

## Motiva√ß√£o: 
Decidi realizar esse projeto depois de ter que fazer um trabalho onde pesquisamos e fizemos uma apresenta√ß√£o sobre Sistemas de Gerenciamento de Banco de dados, ou SGBDs, e fiquei respons√°vel pelo Oracle, junto de Olenice F√°tima, colega de sala. Durante as pesquisas, encontramos uma tabela de pre√ßos com todas as licen√ßas da Oracle, e foi a√≠ que decidi fazer um trabalho sobre esses dados, e traz√™-los para a turma desfrutar de uma apresenta√ß√£o robusta sobre a Oracle, mas no fim, n√£o pude fazer isso a tempo da apresenta√ß√£o, ent√£o fomos com o b√°sico, e agora estou trazendo essas informa√ß√µes para que voc√™, estudante de Ti aleat√≥rix, possa saber sobre as licen√ßas dessa empresa que est√° presente em tantos neg√≥cios no mundo todo.

## Estrutura do Projeto:
Nesse notebook do Google Colaboratory, voc√™ vai encontrar todo o c√≥digo que usei para realizar esse trabalho, tamb√©m com as refer√™ncias que eu me lembrei de guardar ü§ì, na seguinte ordem:


1.   Extra√ß√£o dos Dados do Dataset para o DataFrame Pandas
2.   Transforma√ß√£o e formata√ß√£o do DataFrame no objeto de an√°lise
3.   Explora√ß√£o dos Dados em pandaSQL
4.   [Planejado] Visualiza√ß√£o dos Dados

Isso por que estamos seguindo o processo ETL, bem conhecido na √°rea de Business Intelligence como Extract, Transform, and Load, ou Extrair, Transformar e Carregar. Extra√≠mos os dados de uma fonte, transformamos os mesmos em um formato que vamos utilizar e os carregamos para uma aplica√ß√£o para que seja utilizado, nesse caso, um dashboard que ainda vou aprender a fazer, seja no Tableau, ou no Power BI.

In [3]:
!pip install pandasql -U

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.35)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.2.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=f7d5534b432196d2139b4ebf911793a0f1f725f6e9ad829274871be40c2fad1b
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

## Extraindo o Dataset

Esta etapa de extra√ß√£o da tabela foi complicada, e provavelmente poderia ser melhorada com um refinamento dos par√¢metros que ainda parece ser meio complexo pra mim, 27% dos dados foram perdidos no momento da convers√£o das tabelas do arquivo em pdf para um arquivo excel. Eu usei uma ferramenta da Adobe para realizar a convers√£o e ent√£o extrair os dados para realizar essa an√°lise, com o resultado sendo o que ver√£o agora. Conseguindo uma vers√£o mais √≠ntegra dessa tabela, muitos dos procedimentos desse notebook se tornariam irrelevantes, mas deixo aqui para que saibam o que fazer na pior das situa√ß√µes.

Refer√™ncias: 

https://pandas.pydata.org/pandas-docs/stable/index.html

https://stackoverflow.com/questions/20937538/how-to-display-pandas-dataframe-of-floats-using-a-format-string-for-columns

In [179]:
# Estaremos utilizando essa duas bilbiotecas, Pandas, a mais popular biblioteca 
#de Ci√™ncia de Dados no Python, e pandasql, que traz consultas em SQL para cada projeto
# e matplotlib √© um biblioteca de visualiza√ß√£o de dados
import pandas as pd
from pandasql import sqldf

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Nessa linha vamos alterar a formata√ß√£o de todos os valores float desse notebook,
#assim adicionando uma cifra e limitando o valor a duas casas decimais
pd.options.display.float_format = 'R${:,.2f}'.format

In [7]:
# Aqui estamos conjurando o dataset que vamos utilizar a partir de um arquivo
#que est√° salvo no meu drive, mas o mesmo pode ser feito a partir de um link
file = "/content/drive/MyDrive/Colab Notebooks/ExploracÃßaÃÉo Oracle/precosOracle.xlsx"
url = "https://docs.google.com/spreadsheets/d/1jqS2gpZL_HibEDuPJRuHZK5gefm3UNAh/edit?usp=sharing&ouid=106189476960706264778&rtpof=true&sd=true"
precosOracle = pd.read_excel(file)

Observando o dataset abaixo, podemos ver que no momento ele est√° inoper√°vel, sendo at√© dif√≠cil realizar as consultas mais b√°sicas que temos. Algumas colunas que deveriam estar separadas se convergeram, e ainda foram criadas duas colunas vazias que n√£o da pra dizer o que deveria ser, sem contar tamb√©m com as colunas que sequer foram criadas, mas felizmente, vamos jogar tudo isso fora. Devo ressaltar que nesse projeto, o foco da an√°lise ser√° os pre√ßos das licen√ßas, n√£o considerando se √© uma licen√ßa de 12 meses, ou um s√≥, e nem para qual neg√≥cio ou qual licen√ßa seria a melhor escolha, estamos apenas compreendendo a distribui√ß√£o dos pre√ßos, e quais rela√ß√µes entre eles podemos encontrar aqui.

Refer√™ncia:
https://www.adobe.com/br/acrobat/online/convert-pdf.html

https://betterprogramming.pub/convert-tables-from-pdfs-to-pandas-with-python-d74f8ac31dc2

In [8]:
precosOracle

,Moeda,Mese Forma de Distribui√ß√£o,Fam√≠lia,Contra Nome do Produto,Unnamed: 4,Part Number,Unnamed: 6,Pre√ßo,Tipo de Licen√ßa
0,Real,Licen√ßa de Programa,On Premises - Technology,7626 Oracle Database Enterprise Edition - Pro...,NaN,A90611,NaN,"285.157,18",Permanente sem Manuten√ß√£o
1,Real,12 Licen√ßa de Programa,On Premises - Technology,7626 Oracle Database Enterprise Edition - Pro...,NaN,A90611M,NaN,"61.538,41",Manuten√ß√£o na Vig√™ncia
2,Real,12 Licen√ßa de Programa,On Premises - Technology,7626 Oracle Database Enterprise Edition - Pro...,NaN,A90611P,NaN,"11.795,04",Suporte
3,Real,Licen√ßa de Programa,On Premises - Technology,7626 Oracle Real Application Clusters - Proce...,NaN,A90619,NaN,"138.075,47",Permanente sem Manuten√ß√£o
4,Real,12 Licen√ßa de Programa,On Premises - Technology,7626 Oracle Real Application Clusters - Proce...,NaN,A90619M,NaN,"29.797,41",Manuten√ß√£o na Vig√™ncia
...,...,...,...,...,...,...,...,...,...
6094,Real,R$1.00,Outros servi√ßos - Technology,7626 Oracle Solution Support Center for PaaS ...,NaN,B90795,NaN,"60.033,01 Assinatura",NaN
6095,Real,R$1.00,Outros servi√ßos - Technology,7626 Oracle Solution Support Center for PaaS ...,NaN,B90796,NaN,Assinatura,NaN
6096,Real,R$1.00,Outros servi√ßos - Technology,7626 Gen 2 Exadata Cloud at Customer Installa...,NaN,B91390,NaN,"180.099,03 Assinatura",NaN
6097,Real,R$1.00,Outros servi√ßos - Technology,7626 Oracle Cloud VMware Solution - OCPU Per ...,NaN,B92386,NaN,"1,219237 Assinatura",NaN
6098,Real,R$1.00,Outros servi√ßos - Technology,7626 Oracle Cloud Infrastructure - Compute - ...,NaN,B88318,NaN,"0,552305 Assinatura",NaN

In [9]:
# Aqui exclu√≠mos todas as outras colunas menos o pre√ßo e o tipo de licen√ßa, nos quais vamos
#trabalhar a visualiza√ß√£o dos dados
precosDF = precosOracle.drop(columns = ['Moeda', 'Mese  Forma de Distribui√ß√£o', 'Fam√≠lia', 
                     'Contra Nome do Produto', 'Unnamed: 4', 'Part Number',
                     'Unnamed: 6'], axis = 1)
precosDF

                       Pre√ßo            Tipo de Licen√ßa
0                 285.157,18  Permanente sem Manuten√ß√£o
1                  61.538,41     Manuten√ß√£o na Vig√™ncia
2                  11.795,04                    Suporte
3                 138.075,47  Permanente sem Manuten√ß√£o
4                  29.797,41     Manuten√ß√£o na Vig√™ncia
...                      ...                        ...
6094   60.033,01  Assinatura                        NaN
6095              Assinatura                        NaN
6096  180.099,03  Assinatura                        NaN
6097    1,219237  Assinatura                        NaN
6098    0,552305  Assinatura                        NaN

[6099 rows x 2 columns]

##Tratamento dos Dados

Apenas os 17 primeiros itens da lista foram divididos corretamente, o resto, est√° com erro de dados concentrado na coluna de 'Pre√ßos'. Tendo feito a divis√£o dessa coluna, temos um objeto onde na mesma linha, encontramos um Pandas Series, com o pre√ßo na posi√ß√£o [0], e o tipo de licen√ßa na posi√ß√£o [1] (ap√≥s a divis√£o da string com a fun√ß√£o do Python), os dois √∫nicos itens √∫teis para essa an√°lise.

In [10]:
# A maior parte dos itens est√£o com duas colunas juntas em uma, na coluna de pre√ßo, que separamos nesse
#bloco, mas ainda precisamos remanejar os tipos de licen√ßa para sua pr√≥pria coluna, com o par√¢metro expand=True

precoSplit = precosDF['Pre√ßo'].str.split(" ", 1, expand=True)
precoSplit

               0            1
0     285.157,18         None
1      61.538,41         None
2      11.795,04         None
3     138.075,47         None
4      29.797,41         None
...          ...          ...
6094   60.033,01   Assinatura
6095  Assinatura         None
6096  180.099,03   Assinatura
6097    1,219237   Assinatura
6098    0,552305   Assinatura

[6099 rows x 2 columns]

### 6099 originais
-----
4464 restantes

O que equivale a 73,19% sendo usado na an√°lise comparada ao original, levando em considera√ß√£o os seguintes fatos: A tabela original estava no formato PDF.  Existem outras ferramentas como a biblioteca Camelot e Tabula, que poderiam ajudar com esse procedimento, mas que ainda requeriram um n√≠vel de parametriza√ß√£o que eu n√£o pude trazer para esse projeto.

In [11]:
#Realizando o tratamento do dataset, excluindo linhas vazias e renomeando as colunas
precoClean = precoSplit.dropna()
precoClean = precoClean.reset_index()
precoClean = precoClean.drop(columns=['index'])
precoClean.columns = ['preco', 'tipo_licenca']

In [19]:
# Convertendo (a hil√°ria) coluna de pre√ßos de string para float. A opera√ß√£o desse bloco de c√≥digo foi feito
#inplace, ou seja, sem gerar uma nova vari√°vel, ent√£o esse bloco poder√° ser executado uma √∫nica vez, ou
#com a cria√ß√£o de uma nova vari√°vel e DataFrame.

# Esse passo foi necess√°rio por que a fun√ß√£o .split() do Python sempre retorna 2 ou mais strings
precoClean['preco'] = [x.replace('.', '') for x in precoClean['preco']]
precoClean['preco'] = precoClean['preco'].apply(lambda x: float(x.split()[0].replace(',', '.')))
precoClean

            preco tipo_licenca
0     R$61,538.41   manutencao
1     R$11,795.04      suporte
2     R$34,819.78   permanente
3      R$7,514.29   manutencao
4      R$1,440.26      suporte
...           ...          ...
4459   R$7,504.13   assinatura
4460  R$60,033.01   assinatura
4461 R$180,099.03   assinatura
4462       R$1.22   assinatura
4463       R$0.55   assinatura

[4464 rows x 2 columns]

In [20]:
#Fazendo o mesmo para os tipos de licen√ßa, retirando os espa√ßos em branco das vari√°veis
precoClean['tipo_licenca'] = [x.replace('Manuten√ß√£o na Vig√™ncia', 'manutencao') for x in precoClean['tipo_licenca']]
precoClean['tipo_licenca'] = [x.replace('Permanente sem Manuten√ß√£o', 'permanente') for x in precoClean['tipo_licenca']]
precoClean['tipo_licenca'] = [x.replace('Suporte', 'suporte') for x in precoClean['tipo_licenca']]
precoClean['tipo_licenca'] = [x.replace('Assinatura', 'assinatura') for x in precoClean['tipo_licenca']]

# At√© eu descobrir que n√£o havia removido o espa√ßo em branco, apenas reduzido a label dos tipos de licen√ßa
# Mais sobre isso abaixo

### Li√ß√£o de formata√ß√£o de Dataframes
Antes de come√ßar a realizar consultas ou sei l√° o que mais no conjunto de dados no qual estiver trabalhando, certifique-se de que os mesmos est√£o prontos para ser consultados, como, saiba em qual tipo est√£o os dados, e se eles tem algum artefato escondido no seu texto, como whitespace que pode atrapalhar suas consultas.

Refer√™ncia:
https://www.roelpeters.be/how-to-remove-trailing-whitespaces-from-column-headers-in-pandas/

In [21]:
# Uma compreens√£o de lista do DF (√∫nico ao Python) utilizado para encontrar qualquer 
#linha na coluna 'tipo_licenca' que possa ter whitespace no in√≠cio ou no final da string 
[x for x in precoClean['tipo_licenca'] if x.endswith(' ') or x.startswith(' ')]

[]

In [22]:
# E a fun√ß√£o para limpar as strings dessa coluna
precoClean['tipo_licenca'] = precoClean['tipo_licenca'].str.strip()

In [23]:
precoClean

            preco tipo_licenca
0     R$61,538.41   manutencao
1     R$11,795.04      suporte
2     R$34,819.78   permanente
3      R$7,514.29   manutencao
4      R$1,440.26      suporte
...           ...          ...
4459   R$7,504.13   assinatura
4460  R$60,033.01   assinatura
4461 R$180,099.03   assinatura
4462       R$1.22   assinatura
4463       R$0.55   assinatura

[4464 rows x 2 columns]

## Explora√ß√£o dos dados com SQL
Todas as consultas feitas nesse notebook s√£o realizadas atrav√©s de SQL com o uso da biblioteca pandasql, que traz a sintaxe da linguagem de query para o Python.

Refer√™ncia:
https://pypi.org/project/pandasql/

### Dados gerais do conjunto de dados
A partir daqui, faremos a explora√ß√£o do DataFrame com SQL, construindo tabelas de acordo com cada Tipo de Licen√ßa que podemos encontrar: 

1.   Permanente sem Manuten√ß√£o
2.   Manuten√ß√£o na Vig√™ncia
3.   Suporte
4.   Assinatura

In [24]:
# describe() √© uma fun√ß√£o do pandas que pode rapidamente demonstrar todas as caracter√≠sticas
#estat√≠sticas do DataFrame selecionado. Observar que a contagem dessa fun√ß√£o, por ser float
#tamb√©m foi formatada como um pre√ßo
precoClean.describe()

                preco
count      R$4,464.00
mean      R$53,498.91
std      R$250,675.20
min            R$0.00
25%          R$126.65
50%        R$1,339.40
75%       R$20,715.36
max   R$10,721,895.73

In [25]:
# √â com essa fun√ß√£o an√¥nima que vamos realizar os queries em SQL em cima do Dataframe, para n√£o ter que escrever a fun√ß√£o completa toda vez que for chamada 
pysqldf = lambda q: sqldf(q, globals())

In [26]:
# Consultando quantos itens temos para cada tipo de licen√ßa
q = """
    SELECT tipo_licenca, COUNT(*) as Total
    FROM precoClean
    GROUP BY tipo_licenca
    HAVING COUNT(*)
    """

precoTotalItem = pysqldf(q)
precoTotalItem

  tipo_licenca  Total
0   assinatura    849
1   manutencao   1206
2   permanente   1204
3      suporte   1205

In [27]:
# Consultando qual o valor total para cada tipo de licen√ßa
q = """
    SELECT tipo_licenca, SUM(preco) as Total
    FROM precoClean
    GROUP BY tipo_licenca
    """

precoTotalValor = pysqldf(q)
precoTotalValor

  tipo_licenca            Total
0   assinatura  R$65,810,203.68
1   manutencao  R$29,792,000.36
2   permanente R$137,409,785.39
3      suporte   R$5,807,166.02

In [43]:
# Aqui observamos a m√©dia para cada tipo de licen√ßa
precoMediaA = precoTotalValor['Total'][0] / precoTotalItem['Total'][0]
precoMediaM = precoTotalValor['Total'][1] / precoTotalItem['Total'][1]
precoMediaP = precoTotalValor['Total'][2] / precoTotalItem['Total'][2]
precoMediaS = precoTotalValor['Total'][3] / precoTotalItem['Total'][3]

print('Pre√ßo m√©dio das licen√ßas permanentes: R$%.3f' % (precoMediaP))
print('Pre√ßo m√©dio das licen√ßas de manuten√ß√£o: R$%.3f' % (precoMediaM))
print('Pre√ßo m√©dio das licen√ßas de suporte: R$%.3f' % (precoMediaS))
print('Pre√ßo m√©dio das licen√ßas assinaturas: R$%.3f' % (precoMediaA))

Pre√ßo m√©dio das licen√ßas permanentes: R$114127.729
Pre√ßo m√©dio das licen√ßas de manuten√ß√£o: R$24703.151
Pre√ßo m√©dio das licen√ßas de suporte: R$4819.225
Pre√ßo m√©dio das licen√ßas assinaturas: R$77514.963

Aqui realizamos a consulta para separarmos todas as licen√ßas desse tipo espec√≠fico, o que repetiremos para todos os outros tipos de licen√ßa. E para cada tipo de licen√ßa, selecionamos os 7 maiores e menores itens da lista de acordo com seu pre√ßo, e realizamos uma √∫ltima consulta no final, com amostras aleat√≥rias para cada tipo de licen√ßa, realizando assim a t√£o esperada explora√ß√£o dos pre√ßos das licen√ßas da Oracle.

### Tipo de licen√ßa Permanente sem Manuten√ß√£o

In [91]:
q = """
    SELECT preco, tipo_licenca FROM precoClean
    WHERE tipo_licenca = 'permanente'
    """

precoPermanente = pysqldf(q)
precoPermanente.sort_values(by=['preco'], inplace=True)
precoPermanente.reset_index(inplace=True)
precoPermanente.drop(columns=['index'], inplace=True)
precoPermanente

              preco tipo_licenca
0            R$1.39   permanente
1            R$2.10   permanente
2            R$3.00   permanente
3            R$4.21   permanente
4            R$6.00   permanente
...             ...          ...
1199 R$2,941,617.53   permanente
1200 R$2,941,617.53   permanente
1201 R$3,001,650.54   permanente
1202 R$3,451,898.88   permanente
1203 R$3,451,898.88   permanente

[1204 rows x 2 columns]

In [92]:
precoPH = precoPermanente['preco'].head(7)
precoPT = precoPermanente['preco'].tail(7)
dados = zip(precoPH, precoPT)

tabelaPermanente = pd.DataFrame(dados, columns=['bot7', 'top7'])
tabelaPermanente

    bot7           top7
0 R$1.39 R$2,491,370.70
1 R$2.10 R$2,761,518.50
2 R$3.00 R$2,941,617.53
3 R$4.21 R$2,941,617.53
4 R$6.00 R$3,001,650.54
5 R$6.00 R$3,451,898.88
6 R$6.00 R$3,451,898.88

In [167]:
precoPermanente.sample(10, random_state=0)

            preco tipo_licenca
486    R$2,101.10   permanente
5          R$6.00   permanente
438    R$1,800.95   permanente
271      R$840.14   permanente
966  R$138,075.47   permanente
783   R$17,409.14   permanente
268      R$751.15   permanente
395    R$1,470.62   permanente
478    R$2,101.10   permanente
1012 R$210,116.29   permanente

### Tipo de licen√ßa Manuten√ß√£o na Vig√™ncia

In [168]:
q = """
    SELECT preco, tipo_licenca FROM precoClean
    WHERE tipo_licenca = 'manutencao'
    """

precoManutencao = pysqldf(q)
precoManutencao.sort_values(by=['preco'], inplace=True)
precoManutencao.reset_index(inplace=True)
precoManutencao.drop(columns=['index'], inplace=True)
precoManutencao

            preco tipo_licenca
0          R$0.30   manutencao
1          R$0.45   manutencao
2          R$0.65   manutencao
3          R$0.91   manutencao
4          R$1.30   manutencao
...           ...          ...
1201 R$634,816.49   manutencao
1202 R$634,816.49   manutencao
1203 R$647,771.93   manutencao
1204 R$744,937.88   manutencao
1205 R$744,937.88   manutencao

[1206 rows x 2 columns]

In [169]:
precoMH = precoManutencao['preco'].head(7)
precoMT = precoManutencao['preco'].tail(7)
dados = zip(precoMH, precoMT)

tabelaManutencao = pd.DataFrame(dados, columns=['bot7', 'top7'])
tabelaManutencao

    bot7         top7
0 R$0.30 R$537,650.86
1 R$0.45 R$595,950.17
2 R$0.65 R$634,816.49
3 R$0.91 R$634,816.49
4 R$1.30 R$647,771.93
5 R$1.30 R$744,937.88
6 R$1.30 R$744,937.88

In [170]:
precoManutencao.sample(10, random_state=0)

           preco tipo_licenca
395     R$323.88   manutencao
5         R$1.30   manutencao
141      R$71.29   manutencao
452     R$414.69   manutencao
52        R$1.30   manutencao
1085 R$59,595.15   manutencao
328     R$259.10   manutencao
890  R$15,546.46   manutencao
319     R$239.57   manutencao
269     R$162.10   manutencao

### Tipo de licen√ßa Suporte

In [171]:
q = """
    SELECT preco, tipo_licenca FROM precoClean
    WHERE tipo_licenca = 'suporte'
    """

precoSuporte = pysqldf(q)
precoSuporte.sort_values(by=['preco'], inplace=True)
precoSuporte.reset_index(inplace=True)
precoSuporte.drop(columns=['index'], inplace=True)
precoSuporte

            preco tipo_licenca
0          R$0.06      suporte
1          R$0.09      suporte
2          R$0.12      suporte
3          R$0.17      suporte
4          R$0.25      suporte
...           ...          ...
1200 R$121,675.00      suporte
1201 R$121,675.00      suporte
1202 R$124,158.16      suporte
1203 R$142,781.91      suporte
1204 R$142,781.91      suporte

[1205 rows x 2 columns]

In [172]:
precoSH = precoSuporte['preco'].head(7)
precoST = precoSuporte['preco'].tail(7)
dados = zip(precoSH, precoST)

tabelaSuporte = pd.DataFrame(dados, columns=['bot7', 'top7'])
tabelaSuporte

    bot7         top7
0 R$0.06 R$103,051.30
1 R$0.09 R$114,225.51
2 R$0.12 R$121,675.00
3 R$0.17 R$121,675.00
4 R$0.25 R$124,158.16
5 R$0.25 R$142,781.91
6 R$0.25 R$142,781.91

In [178]:
precoSuporte.sample(10, random_state=2)

           preco tipo_licenca
680     R$285.56      suporte
615     R$142.81      suporte
61        R$0.25      suporte
824   R$1,141.04      suporte
68        R$0.25      suporte
922   R$4,345.55      suporte
1096 R$13,036.59      suporte
780     R$694.02      suporte
888   R$2,855.63      suporte
692     R$285.56      suporte

### Tipo de licen√ßa Assinatura

In [174]:
q = """
    SELECT preco, tipo_licenca FROM precoClean
    WHERE tipo_licenca = 'assinatura'
    """

precoAssinatura = pysqldf(q)
precoAssinatura.sort_values(by=['preco'], inplace=True)
precoAssinatura.reset_index(inplace=True)
precoAssinatura.drop(columns=['index'], inplace=True)
precoAssinatura

              preco tipo_licenca
0            R$0.00   assinatura
1            R$0.00   assinatura
2            R$0.00   assinatura
3            R$0.00   assinatura
4            R$0.00   assinatura
..              ...          ...
844  R$1,440,792.26   assinatura
845  R$1,560,858.28   assinatura
846  R$1,680,924.30   assinatura
847  R$1,800,990.32   assinatura
848 R$10,721,895.73   assinatura

[849 rows x 2 columns]

In [175]:
# Como nesse tipo de licen√ßa descobrimos que h√° itens que s√£o de gra√ßa, os √∫ltimos
# s√£o todos zeros, mas considerando que mesmo assim n√£o difere muito dos outros tipos de licen√ßa
precoAH = precoAssinatura['preco'].head(7)
precoAT = precoAssinatura['preco'].tail(7)
dados = zip(precoAH, precoAT)

tabelaAssinatura = pd.DataFrame(dados, columns=['bot7', 'top7'])
tabelaAssinatura

    bot7            top7
0 R$0.00  R$1,368,752.65
1 R$0.00  R$1,404,772.45
2 R$0.00  R$1,440,792.26
3 R$0.00  R$1,560,858.28
4 R$0.00  R$1,680,924.30
5 R$0.00  R$1,800,990.32
6 R$0.00 R$10,721,895.73

In [176]:
precoAssinatura.sample(10, random_state=0)

          preco tipo_licenca
214    R$150.08   assinatura
293    R$600.33   assinatura
241    R$240.13   assinatura
193     R$86.45   assinatura
162     R$30.02   assinatura
55       R$0.40   assinatura
175     R$42.48   assinatura
247    R$300.17   assinatura
460 R$12,006.60   assinatura
392  R$3,001.65   assinatura

## Visualiza√ß√£o de dados

A ser planejado